<div class="espaceCandidatWrapper">
  <div class="master-container">
    <div class="titel-container">
      <h3>Ajouter un recruteur</h3>
    </div>

    <div class="forms-container row">


      <form class="row g-3" [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Nom de l'utilisateur *</label>
          <input type="text" class="form-control" formControlName="UserName">
          <label class="text-danger"
                *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.required">
                Ce champ est obligatoire.</label>
        </div>

        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Nom complet</label>
          <input type="text" class="form-control" formControlName="FullName">
        </div>

        <div class="col-md-6">
          <label for="inputCity" class="form-label">Adresse email *</label>
          <div formGroupName="Emails">
            <input type="email" class="form-control" formControlName="Email" />

            <label class="text-danger"
                  *ngIf="service.formModel.get('Emails.Email').touched && service.formModel.get('Emails.Email').errors?.email">
                  Adresse email invalide.</label>
          </div>
        </div>

        <div class="col-md-6">
          <label for="inputCity" class="form-label">Mot de passe *</label>
          <div formGroupName="Passwords">
            <input type="password" class="form-control" formControlName="Password" />
            <label class="text-danger"
                *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">
                Ce champ est obligatoire.</label>
          </div>

        </div>

        <div class="buttons-container">
          <button type="submit" class="btn btn-primary next" [disabled]="!service.formModel.valid" mat-dialog-close>Enregistrer</button>
          <button class="btn btn-primary cancel" mat-dialog-close>Annuler</button>
        </div>


      </form>

    </div>

  </div>


</div>
