
<app-header></app-header>
<br>
<br>
<div class="nav-item dropdown ">
 <title>Nos secteurs d'activité</title>
  <div class="col-md-9" style="margin-left: 200px;">
      <mat-card>
          <mat-card-header>
              <mat-card-title>Banque</mat-card-title>
              <mat-card-subtitle>Concrétisons ensemble la banque de demain ! <br>
                L’évolution galopante des nouvelles technologies et du digital a bouleversé bon nombre de secteurs et de conceptions métiers.
                Le monde bancaire, aujourd’hui en pleine mutation, n’échappe pas à la règle. <br>
                Les banques 100% mobiles ont la cote et ne cessent de grignoter les parts de marché des banques traditionnelles partout dans le monde.
                Afin de contrer l’arrivée de ces nouveaux concurrents féroces et innovateurs,
                les banques sont tenues aujourd’hui plus que jamais de faire preuve d’audace et de casser leurs codes classiques en pensant « digital ».
                L’agilité, la réactivité et l’innovation sont les mots d’ordre pour prospérer dans un secteur en perpétuelle évolution.
                Dès lors, ne confiez pas votre transformation digitale au hasard et misez sur notre expertise. <br>
                ADDINN est là pour vous aider à moderniser et automatiser vos processus bancaires tout en mettant votre clientèle au centre du jeu,
                grâce à une expérience optimisée via l’ensemble des points de contact.</mat-card-subtitle>
          </mat-card-header>
      </mat-card>

      </div>
      <br>
      <div class="col-md-9" style="margin-left: 200px;">
      <mat-card>
        <mat-card-header>
            <mat-card-title>Assurance</mat-card-title>
            <mat-card-subtitle>Le monde dans lequel évoluent les compagnies d’assurance est en pleine mutation. <br>
              De nouveaux acteurs redessinent à grand pas le paysage de l’assurance,
              les dynamiques sociales et économiques engendrent de nouveaux besoins,
              l’afflux de nouveaux types de données et l’émergence d’une expérience multicanale ont un impact considérable sur la façon dont l’assurance est souscrite,
              distribuée et gérée. <br>
              Nous mesurons les impératifs complexes auxquels font face les assureurs et qui exigent une transformation totale. <br>
              ADDINN apporte les idées, les produits et les pratiques pour vous permettre dés à présent de relever ces défis. <br>
              Le cabinet permet de fournir des services d’accompagnement des clients dans leurs processus de développement et des systèmes d’information.Tout changement est synonyme d’opportunité,
              ADDINN permet aux assureurs de transformer leurs activités traditionnelles tout en construisant un avenir numérique. ​​</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
  </div>
<br>
  <div class="col-md-9" style="margin-left: 200px;">
    <mat-card>
      <mat-card-header>
          <mat-card-title>Transport</mat-card-title>
          <mat-card-subtitle>Dans une ère où les mutations technologiques bouleversent le secteur du transport,
            ladigitalisation n'est plus une option mais une nécessité ! <br>
            Chez Addinn, nous guidons les acteurs du transport public et privé à s’inscrire au cœur de la révolution digitale et à conduire ce changement. <br>
            Nous accompagnons nos clients tout au long de leur processus de digitalisation,
            en leur fournissant des conseils métier, IT et data, mais surtout,
            des solutions à forte valeur technologique. <br>
            De l’IA à l’IOT, en passant par le SaaS, plusieurs technologies de pointe sont mises à la disposition de nos clients afin de les aider à optimiser la gestion des flux de transport,
            à bénéficier de l’excellence opérationnelle et de la visibilité totale des données en temps réel,
            ou encore à réduire leurs coûts inutiles. Grâce à nos experts, l’efficience et le profit sont à portée de main. ​​</mat-card-subtitle>
      </mat-card-header>
  </mat-card>

    </div>
<br>
<app-footer></app-footer>
