<br>
<br>
<div class="container">
  <div class="main-body">
    <br>
    <br>
    <br>
    <mat-card>

      <!-- Breadcrumb -->

      <!-- /Breadcrumb -->

      <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">

                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle"
                  width="150">
                <div class="mt-3" *ngIf="userDetails">
                  <h4>{{userDetails.fullName}}</h4>
                  <p class="text-secondary mb-1">{{userDetails.specialite}}</p>
                  <p class="text-muted font-size-sm"></p>

                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-8" *ngIf="userDetails">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <h3 class="mb-0">Nom complet</h3>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{userDetails.fullName}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h3 class="mb-0">Email</h3>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{userDetails.email}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h3 class="mb-0">Date de naissance</h3>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{userDetails.date_naissance}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h3 class="mb-0">Téléphone</h3>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{userDetails.phoneNumber}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h3 class="mb-0">Pays</h3>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{userDetails.pays}}
                </div>
              </div>
              <hr>



              <div class="buttons-container">
                <div class="col-sm-9">
                  <button mat-raised-button color="primary" (click)="openRecruteurDetails()">Modifier votre profil</button>
                </div>
              </div>
            </div>
          </div>




        </div>
      </div>
    </mat-card>


  </div>

</div>
