<div class="container-fluid">
    <div class="row pt-2">
        <div class="col-md-12">
            <div class="card text-left">
                <div class="card-body">
                    <h4 class="card-title border-bottom">Diagrammes à barres verticales</h4>
                    <ngx-charts-bar-vertical [view]="[1000,400]" [results]="Stat" [xAxisLabel]="'Les départements'"
                        [legendTitle]="'Les départements'" [yAxisLabel]="'Nombres des personnels'" [legend]="true"
                        [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxis]="true" [yAxis]="true" [gradient]="true">
                    </ngx-charts-bar-vertical>
                </div>
            </div>
        </div>



    </div>
</div>


<app-offre-stats></app-offre-stats>
