<app-header></app-header>
<br>
<br>
<div class="nav-item dropdown ">
 <title>Nos secteurs d'activité</title>
  <div class="col-md-9" style="margin-left: 200px;">
    <mat-card>
        <mat-card-header>
            <mat-card-title>STRADA</mat-card-title>
            <mat-card-subtitle>De nos jours, pendant que la pandémie de Covid-19 pousse les industries à se réinventer, <br>
              les entreprises font face à deux options: <br>
              la transformation de leurs activités, produits et services existants vers un modèle SaaS ou la construction de toute une nouvelle plateforme. <br>
              Le monde du Transport Routier des Marchandises (TRM) ne fait pas exception.</mat-card-subtitle>
        </mat-card-header>

    </mat-card>
    </div>
    <br>
    <div class="col-md-9" style="margin-left: 200px;">
      <mat-card>
          <mat-card-header>
              <mat-card-title>E-LAB</mat-card-title>
              <mat-card-subtitle>ADDINN, le cabinet de conseil spécialisé dans la transformation digitale souhaite s'aventurer dans un nouveau projet en partenariat avec la société d'incubation numérique du gabon SING. <br>
                celle-ci a jugé nécessaire de créer un incubateur dédié à l'accompagnement des entreprises dans le domaine du numérique dans l'objectif de contribuer au développement de l'écosystème numérique gabonais.</mat-card-subtitle>
          </mat-card-header>

      </mat-card>
      </div>
      <br>
<app-footer></app-footer>
