
<div class="demandeCandidatWrapper">
<br>
  <span class="titel">Liste des recruteurs</span>
  <div class="row">
    <div class="col-10"></div>
    <div class="col-1">
      <button  type="button" mat-raised-button color="primary" class="btn btn-primary" (click)="openDialog()">
      Ajouter
    </button>
    <br>
    <br>
  </div>
  </div>

  <div class="row g-0 text-center">
    <div class="col-sm-6 col-md-4">




      <div class="content">
        <div class="mat-elevation-z8">

          <div align="left">
          <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput placeholder="Filter" (keyup)="Filterchange($event)">

          </mat-form-field>
        </div>
          <table mat-table matSort [dataSource]="dataSource">

            <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="userName">
              <th mat-header-cell mat-sort-header *matHeaderCellDef class="fs-6"> Nom de l'utilisateur </th>
              <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
            </ng-container>

            <ng-container matColumnDef="fullName">
              <th mat-header-cell mat-sort-header *matHeaderCellDef class="fs-6"> Nom complet </th>
              <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="date_naissance">
              <th mat-header-cell mat-sort-header *matHeaderCellDef class="fs-6"> Date de naissance </th>
              <td mat-cell *matCellDef="let element"> {{element.date_naissance}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th mat-header-cell mat-sort-header *matHeaderCellDef class="fs-6"> Email </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="numero_telephone">
              <th mat-header-cell mat-sort-header *matHeaderCellDef class="fs-6"> Numéro de téléphone </th>
              <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
            </ng-container>

            <ng-container matColumnDef="action1">
              <th mat-header-cell mat-sort-header *matHeaderCellDef class="fs-6">   </th>
              <td mat-cell *matCellDef="let element">
                <button mat-mini-fab color="basic" aria-label="Example icon button with a plus one icon">
                  <mat-icon>edit</mat-icon>
                </button>


                    <button mat-mini-fab color="warn" aria-label="Example icon button with a menu icon">
                      <mat-icon>delete</mat-icon>
                    </button>


              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons>

        </mat-paginator>
      </div>


    </div>

  </div>



</div>
