<div class="register-wrapper">
  <app-header></app-header>
  <div class="title-container">
    <h1>REJOIGNEZ-NOUS !</h1>
  </div>
  <div class="main-container">
    <div class="main-content-container">
      <div class="register-container">
        <div class="register-header">
          <p>CRÉER UN COMPTE</p>
        </div>
        <br>
        <div class="register-body">
          <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()" class="row g-3">
            <div class="form-group test col-md-6">
              <input type="text" class="form-control" placeholder="UserName" formControlName="UserName" />
              <label class="text-danger"
                *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.required">
                Ce champ est obligatoire.</label>
            </div>
            <div class="form-group test FullName col-md-6">
              <input type="text" class="form-control" placeholder="FullName" formControlName="FullName" />
            </div>
            <div formGroupName="Emails" class="col-md-6">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" formControlName="Email" />
                <label class="text-danger"
                  *ngIf="service.formModel.get('Emails.Email').touched && service.formModel.get('Emails.Email').errors?.email">
                  Adresse email invalide.</label>
              </div>

              <div class="form-group">
                <input type="email" class="form-control" placeholder="Confirmer l’adresse Email"
                  formControlName="ConfirmEmail" />
                  <label class="text-danger"
                  *ngIf="service.formModel.get('Emails.ConfirmEmail').touched && service.formModel.get('Emails.ConfirmEmail').errors?.emailMismatch">
                  Adresses email non identiques.</label>
              </div>
            </div>
            <div formGroupName="Passwords" class="col-md-6">
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Mot de passe" formControlName="Password" />
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirmer le mot de passe"
                  formControlName="ConfirmPassword" />
                <label class="text-danger"
                  *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">
                  Mots de passe non conforme.</label>
              </div>

            </div>
            <div class="form-group">
              <input type="submit" name="submit" id="submit" class="btn btn-primary" value="Inscription" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
